Link(href="/games/" + game.name, onClick=this.onSelect.bind(this)).game-menu
  img.game-image(src=game.box.small)
  div.game-info
    div.title= game.name
    div.viewers
      Viewers(value=viewers)
