div.streams-header
  div.pull-left.streams-header-col
    a.menu-switch(onClick=this.onToggleMenu.bind(this))
      if (client.display_menu)
        span.glyphicon.glyphicon-triangle-left
      else
        span.glyphicon.glyphicon-triangle-right

  div.pull-left.streams-header-col
    b.pull-left(style="padding: 0 8px;") Auto Play
    div.onoffswitch.pull-left(onClick=this.onToggleAutoPlay.bind(this))
      input#switch-autoplay.onoffswitch-checkbox(type="checkbox", name="onoffswitch", checked=client.auto_play, readOnly)
      label.onoffswitch-label(for="switch-autoplay")
        span.onoffswitch-inner
        span.onoffswitch-switch
