doctype html
html
  head
    title tswitch
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/assets/css/vendors.css" media="all" rel="stylesheet")
    link(href="/assets/css/a.css" media="all" rel="stylesheet")
    script(src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js")

    block head
  body
    block content


    script(src="/assets/js/vendors.js")
    block footer
